**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/publish
**/data
**/TestResults
**/coverage
**/*.user
**/*.suo
**/*.db
**/*.db-wal
**/*.db-shm
**/Dockerfile*
**/docker-compose*
**/README.md
